In [1]:
import pandas as pd

bitcoin_df = pd.read_csv('bitstampUSD_1-min_data_2012-01-01_to_2021-03-31.csv')

In [2]:
bitcoin_df.rename(columns={'Timestamp': 'timestamp'}, inplace=True)

In [3]:
bitcoin_df.columns

Index(['timestamp', 'Open', 'High', 'Low', 'Close', 'Volume_(BTC)',
       'Volume_(Currency)', 'Weighted_Price'],
      dtype='object')

## Preprocessing

#### Removing datapoints where no BTC transaction has occured.

In [4]:
print(bitcoin_df.shape)
bitcoin_df.dropna(subset=['Volume_(BTC)'], axis=0, inplace=True)
print(bitcoin_df.shape)

(4857377, 8)
(3613769, 8)

In [5]:
# Convert Unixtime to standard dateformat
bitcoin_df['timestamp'] = pd.to_datetime(bitcoin_df.timestamp, unit='s').dt.strftime('%Y-%m-%d %H:%M:%S')
bitcoin_df.head(2)

,timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,2011-12-31 07:52:00,4.39,4.39,4.39,4.39,0.455581,2.00,4.39
478,2011-12-31 15:50:00,4.39,4.39,4.39,4.39,48.000000,210.72,4.39

In [6]:

bitcoin_df = bitcoin_df[((bitcoin_df.timestamp >= '2016-01-01 00:00:00') & (bitcoin_df.timestamp <= '2018-12-31 23:59:59'))]
# Binning/Stratifying the timestamps into hours or days.
bitcoin_df['bt_day_interval'] = pd.to_datetime(bitcoin_df.timestamp).dt.floor('D')
bitcoin_df['bt_hour_interval'] = pd.to_datetime(bitcoin_df.timestamp).dt.floor('H')

In [13]:
df.groupby(['Type'])['Name'].apply(lambda grp: list(grp.value_counts().index)).to_dict()

,timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price,bt_day_interval,bt_hour_interval
3670815,2018-12-27 23:59:00,3591.69,3591.69,3590.26,3591.69,1.745821,6270.426764,3591.677812,2018-12-27,2018-12-27 23:00:00

In [46]:
last_time_dict =

In [56]:
close_price_dict = {}
for key, value in dict(bitcoin_df.groupby(['bt_day_interval'])['timestamp'].max()).items():
    close_price_dict[key] = bitcoin_df[bitcoin_df.timestamp == value].Close

In [ ]:
close_price_dict["Timestamp('2016-01-01 00:00:00')"]

In [70]:
for key, value in dict(bitcoin_df.groupby(['bt_day_interval'])['timestamp'].max()).items():
    print(bitcoin_df[bitcoin_df.timestamp == value].Close.item)
    break

<bound method IndexOpsMixin.item of 2099775    433.82
Name: Close, dtype: float64>

In [71]:
bitcoin_df.groupby(['bt_day_interval'])['timestamp'].max()

bt_day_interval
2016-01-01    2016-01-01 23:59:00
2016-01-02    2016-01-02 23:58:00
2016-01-03    2016-01-03 23:59:00
2016-01-04    2016-01-04 23:59:00
2016-01-05    2016-01-05 23:59:00
                     ...
2018-12-27    2018-12-27 23:59:00
2018-12-28    2018-12-28 23:59:00
2018-12-29    2018-12-29 23:59:00
2018-12-30    2018-12-30 23:59:00
2018-12-31    2018-12-31 23:59:00
Name: timestamp, Length: 1096, dtype: object

In [75]:
for key, value in dict(bitcoin_df.groupby(['bt_day_interval'])['timestamp'].max()).items():
    print(key, value)
    print(bitcoin_df[bitcoin_df.timestamp == value].Close)
    break

2016-01-01 00:00:00 2016-01-01 23:59:00
2099775    433.82
Name: Close, dtype: float64